.theme {
  --primary: #feb795;
  --primary-dark: #e65f32;
  --primary-light: #fff1ec;

  --secondary: #c8b9fb;
  --secondary-light: #e6e6fa;
  --secondary-dark: #7e67c8;

  --sidebar: #fdc6b3;
  --background: #fffcfc;

  --text: #090027;
  --text-contrast: #eaeaea;

  background-color: inherit;
}
