@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');

:root {
  --primary: lavenderblush;
  --primary-dark: lavenderblush;
  --primary-light: lavenderblush;

  --secondary: lavenderblush;
  --secondary-light: lavenderblush;
  --secondary-dark: lavenderblush;

  --sidebar: lavenderblush;
  --background: lavenderblush;

  --text: lavenderblush;
  --text-contrast: lavenderblush;

  --white: #fff;
  --green: #4CAF50;
  --red: #F44336;
  --yellow: #FFEB3B;
  --black: #000000;
  --grey: #A9A9A9;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

@media (max-width: 1200px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 992px) {
  html {
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 10px;
  }
}

@media (max-width: 576px) {
  html {
    font-size: 8px;
  }
}

body {
  margin: 0;
  font-family: 'Noto Sans JP', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  padding-left: 75px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}