.theme {
  --primary: #333;
  --primary-dark: #1f1f1f;
  --primary-light: #4d4d4d;

  --secondary: #555;
  --secondary-light: #696969;
  --secondary-dark: #2f4f4f;

  --sidebar: #292929;
  --background: #1f1f1f;

  --text: #fff;
  --text-contrast: #000;

  background-color: inherit;
}
